body{
    background-color: rgb(0, 0, 0);
    color: white;
}
/* -------------------------------- */

#form .modal-body .container .card .card-body{
    background: #444;
}


.container{
    margin-bottom: 37px;
}

.container .card{
    background: rgb(68, 68, 68);
}
.btn-primary{
    width: 42%;
    margin-top: 10px;
}
.none{
    display: none;
}
.alert{
    padding-bottom: 18px;
}
.btn{
    padding: 7px;
}